.headerContent {
  margin: 3rem 0;
}

.banner {
  width: 100%;
  img {
    width: 100%;
    max-height: 400px;
  }
}

.post {
  .title {
    margin: 2rem 0;
    font-weight: 700;
    font-size: 3rem;
    color: var(--heading-gray);
  }

  .dateAuthorRead {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    color: var(--info-gray);
    font-weight: 400;

    time {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.25rem;
      }
    }

    span {
      margin-left: 1.5rem;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.25rem;
      }
    }
  }


  .content {
    .contentHeading {
      display: block;
      margin: 2rem 0;
      font-weight: 700;
      font-size: 2.25rem;
      color: var(--heading-gray);
    }

    .contentBody {
      font-weight: 400;
      line-height: 1.5rem;
      font-size: 1.125rem;
      color: var(--body-gray);

      strong {
        font-weight: 700;
      }

      p {
        text-align: justify;
        margin: 2rem 0;
      }

      ul {
        li {
          margin: 2rem 0;
        }
      }

      a {
        color: var(--highlight-pink);
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
